<div class="table-responsive">
  <h5> Total Open Issues: {{gitIssues.length}}</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Issue Name</th>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Issue Url</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in gitIssues track by $index">

      <tr>
        <td>{{$index + 1}}.</td>
        <td>{{item.title}}</td>
        <td>
          <a href="{{item.user.html_url}}" target="_blank">
            {{item.user.login}}
          </a>
        </td>
        <td>{{item.created_at}}</td>
        <td>
          <a href="{{item.url}}" target="_blank">
            <button class="btn btn-link glyphicon glyphicon-link"></button>
          <a href="{{item.url}}" target="_blank">
        </td>
        
      </tr>
      
    </tbody>
  </table>
</div>